# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Bochs build output
src/bochs-2.6.8/
install/

# Landslide setup/config output
src/landslide/Makefile
src/landslide/line_numbers.h
src/landslide/student_specifics.h

# LGPL/GPL symlinks that appear in landslide dir
src/landslide/Makefile.in
src/landslide/instrument.cc
src/landslide/rbtree.c
src/landslide/rbtree.h

# Etc
todo.txt
current-git-commit.txt
ls-id-options-*.cfg.*
id/landslide-id
id/ls*.log.*
*landslide-trace-*.html
pebsim/config.landslide
pebsim/config-extra.landslide.pintos
pebsim/bochsrc.txt
pebsim/kernel
pebsim/kernel-pintos
pebsim/bootfd.img
pebsim/kernel.sym
pebsim/config.quicksand.*
pebsim/pps-and-such.quicksand.*
pebsim/current-architecture.txt
pebsim/current-p2-group.txt
pebsim/current-pintos-group.txt
pebsim/pintos/*.bin
pebsim/pintos/*.o
pebsim/pintos/*.o.*
pebsim/pintos/pintos/
pebsim/p2-basecode/config.mk
pebsim/p2-basecode/*/*.dep
pebsim/p2-basecode/*/*/*.dep
pebsim/p2-basecode/user
pebsim/p2-basecode/temp
pebsim/p2-basecode/.md5s
pebsim/p2-basecode/410kern/
pebsim/p2-basecode/410user/
pebsim/p2-basecode/LICENSE
pebsim/p2-basecode/Makefile
pebsim/p2-basecode/README
pebsim/p2-basecode/bootfd.img
pebsim/p2-basecode/doxygen.conf
pebsim/p2-basecode/kernel
pebsim/p2-basecode/kernel.strip
pebsim/p2-basecode/spec/
pebsim/p2-basecode/vq_challenge/
