# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Bochs build output
src/bochs-2.6.8/bochs
src/bochs-2.6.8/bximage
src/bochs-2.6.8/config.log
src/bochs-2.6.8/config.status
src/bochs-2.6.8/build/linux/bochs-dlx
install/
src/bochs-2.6.8/Makefile
src/bochs-2.6.8/*/Makefile
src/bochs-2.6.8/*/*/Makefile
src/bochs-2.6.8/*/*/*/Makefile

# Etc
todo.txt
ls-id-options-*.cfg.*
src/bochs-2.6.8/instrument/landslide/student_specifics.h
id/landslide-id
id/ls*.log.*
*landslide-trace-*.html
pebsim/config.landslide
pebsim/config-extra.landslide.pintos
pebsim/bochsrc.txt
pebsim/kernel
pebsim/kernel-pintos
pebsim/bootfd.img
pebsim/config.quicksand.*
pebsim/pps-and-such.quicksand.*
pebsim/current-architecture.txt
pebsim/current-p2-group.txt
pebsim/current-pintos-group.txt
pebsim/pintos/*.bin
pebsim/pintos/*.o
pebsim/pintos/*.o.*
pebsim/pintos/pintos/
pebsim/p2-basecode/config.mk
pebsim/p2-basecode/*/*.dep
pebsim/p2-basecode/*/*/*.dep
pebsim/p2-basecode/user
pebsim/p2-basecode/temp
